@charset "UTF-8";

body {
  background-color: #474746;
  padding: 24px;
  font-family: "Overpass Mono", "helvetica", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: #ffffff; }

.tHeader {
  background-image: url("../img/terje-header.svg");
  background-size: 100%;
  width: 100%;
  height: auto; }
  
h1 {
  font-size: 1.8rem;
  line-height: 1.3; }

h2 {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 700;
  color: #BFA13E;
  margin-top: 3rem; }

p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 1.5rem; }